#app {
  .main-container {
    min-height: calc(100% - 100px);
    transition: margin-left 0.28s;
    margin-left: $sideBarWidth;
    position: relative;
  }

  .sidebar-container {
    transition: width 0.28s;
    width: $sideBarWidth !important;
    background-color: $menuBg;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
// 图标替换
.el-icon-arrow-down:before{
  content: url(../assets/images/down.svg) !important;
}
.is-active .el-icon-arrow-down:before{
  content: url(../assets/images/down2.svg) !important;
}
    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
      -webkit-transition: 0s width ease-in-out, 0s padding-left ease-in-out, ;
      -moz-transition: 0s width ease-in-out, 0s padding-left ease-in-out, ;
      -ms-transition: 0s width ease-in-out, 0s padding-left ease-in-out, ;
      -o-transition: 0s width ease-in-out, 0s padding-left ease-in-out, ;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 10px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
    }
    //改
    li.el-menu-item.is-active.submenu-title-noDropdown {
      background-color: $submenuActive_tit !important;
//       &::after {
//         content: url(../assets/images/down2.svg);
//         vertical-align: middle;
//         transform: rotate(180deg);
//         -webkit-transform: rotate(180deg);
//         -moz-transform: rotate(180deg);
//         -ms-transform: rotate(180deg);
//         -o-transform: rotate(180deg);
// }
    }

    .submenu-title-noDropdown {
      height: 50px;
      line-height: 50px;
      width: calc(100% - 30px) !important;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      position: relative;
      color: $swmenuBg;
//       &::after {
//         color: #909399;
//         position: absolute;
//         top: 4px;
//         right: 20px;
//         content: url(../assets/images/down.svg);
//         width: 18px;
//         height: calc(100% - 8px);
//         transition: transform .5s;
//         -webkit-transition: transform .3s;
//         -moz-transition: transform .3s;
//         -ms-transition: transform .3s;
//         -o-transition: transform .3s;
// }
    }

    // 菜单 hover
    //改
    .el-submenu__title {
      height: 50px;
      line-height: 50px;
      width: calc(100% - 30px);
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
    .submenu-title-noDropdown,
    .el-submenu__title {
      font-size: 14px !important;

      &:hover {
        background-color: $menuHover !important;
      }
    }
    .is-active>.el-submenu__title i{
      color: #fff;//文字改色前
    }
    //改
    // .is-active>.el-submenu__title:nth-child(1){
    //   border-top:2px solid $topbor ;
    // }
    .is-active>.el-submenu__title {
      color: $subMenuActiveText !important;
      background-color: $submenuActive_tit !important;
}

    & .nest-menu .el-submenu>.el-submenu__title,
    & .el-submenu .el-menu-item {
      min-width: $sideBarWidth !important;

      &:hover {
        background-color: $subMenuHover !important;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 16px;
        }

        .sub-el-icon {
          margin-left: 16px;
        }
      }
    }

    .el-submenu {
      overflow: hidden;

      &>.el-submenu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
          font-size: 12px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: $sideBarWidth !important;
  }

  .mobile {
    .main-container {
      margin-left: 0px;
    }

    .sidebar-container {
      transition: transform 0.28s;
      width: $sideBarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sideBarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {

    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// 当菜单折叠时
.el-menu--vertical {
  &>.el-menu {
    .svg-icon {
      margin-right: 10px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-submenu>.el-submenu__title,
  .el-menu-item {
    .svg-icon {
      width: 1em;
      height: 1em;
    }

    &:hover {
      background-color: $menuHover !important;
    }
  }

  >.el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
